@model DungeonAssistantAI_ASPCore.Models.NoticeRowModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid p-0 @Model.CssClass">
    <div class="container-fluid Notify">
        <div class="row">
            <div class="col-12">
                <p>
                    @Model.NotifyText
                </p>
            </div>
        </div>
    </div>
</div>