@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">

    <form class="form-horizontal" method="post">
    <div class="column33">
            <div class="form-group">
                <div class="col-sm-10">
                    <textarea class="form-control" name="SystemMessage">@Model.chatModel.SystemMessage</textarea>
                </div>
            </div>
    </div>

    <div class="column33">
        @await Html.PartialAsync("_ChatView", Model.chatModel)
    </div>

    <div class="column33">
            <div class="form-group">
                <label for="Persona" class="col-sm-2 control-label">Persona</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="Persona">@Model.chatModel.Persona</textarea>
                </div>
            </div>
    </div>

    </form>
</div>